<!DOCTYPE html>
<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paypal Payment</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
        <button id="button-click"><img style="display: block;margin: 0 auto;height: 100px;" src="//cdn.shopify.com/s/files/1/2568/6902/t/64/assets/loader.gif?10979" title="My image"></button>
    </div>
    <script>
      window.onload=function(){
          setTimeout(function() {
            document.getElementById("button-click").click();
         },300) 
        };
        
        document.querySelector("button").onclick = function() {
          //console.log("Send post message");
          window.postMessage("hellopaypal", "*");
        }
    </script>
  </body>
</html>