<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <script src="https://cdn.jsdelivr.net/npm/socket.io-client@2/dist/socket.io.js"></script>

        <script>
            var socket = io('http://localhost:5004?token=user&type=abc');

            socket.on('connect', function () {
                //socket.io.engine.id = 'myid';
                socket.emit("customersocket", { customerId: "5e3ab5e5f4163999afc656c7" }, (ack) => {
                    //console.log("socket ack", ack);
                });

                //console.log(socket.io.engine.id);
            });

            socket.on('customer_socket', function (data) {
                //console.log("LLLLL", data);
            });

            socket.on('disconnect', function () {

            });
        </script>
    </div>
</body>

</html>